certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
idna==3.3
numpy==1.21.5
Pillow==9.1.0
protobuf==3.20.0
pycparser==2.21
requests==2.27.1
scipy==1.7.3
six==1.16.0
SoundFile==0.10.3.post1
tensorboard-logger==0.1.0
torch>=1.11.0
torchaudio==0.11.0
torchvision==0.12.0
tqdm==4.64.0
typing_extensions==4.1.1
urllib3==1.26.9
